sn.homepage/lwp/homepage.tests/connections-config/service-location.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ***************************************************************** -->
<!--                                                                   -->
<!-- IBM Confidential                                                  -->
<!--                                                                   -->
<!-- OCO Source Materials                                              -->
<!--                                                                   -->
<!-- Copyright IBM Corp. 2001, 2015                                    -->
<!--                                                                   -->
<!-- The source code for this program is not published or otherwise    -->
<!-- divested of its trade secrets, irrespective of what has been      -->
<!-- deposited with the U.S. Copyright Office.                         -->
<!--                                                                   -->
<!-- ***************************************************************** -->

<!-- 5724-S68                                                          -->
<xsd:schema targetNamespace="http://www.ibm.com/service-location"
	xmlns="http://www.ibm.com/service-location"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:xlink="http://www.w3.org/1999/xlink">
	<xsd:element name="serviceReference">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="anonymousLogin" type="anonymousLoginType" minOccurs="0" maxOccurs="1" form="qualified"/>
				<xsd:element name="href" type="hrefType" minOccurs="0" maxOccurs="1" form="qualified"/>
			</xsd:sequence>
			<!--  <xsd:anyAttribute namespace="##any"/>-->
			<xsd:attribute name="serviceName" type="serviceNames"
				use="required" />
			<xsd:attribute name="href" type="xsd:anyURI" use="optional" /> <!-- backwards compatibility with 2.0.1, should not be used in 2.5 -->
			<xsd:attribute name="enabled" type="xsd:boolean"
				use="optional" />
			<xsd:attribute name="ssl_href" type="xsd:anyURI" use="optional" /> <!-- backwards compatibility with 2.0.1, should not be used 2.5 -->
			<xsd:attribute name="ssl_enabled" type="xsd:boolean"
				use="optional" />

			<xsd:attribute name="feed_href" type="xsd:anyURI"
				use="optional" />
			<xsd:attribute name="feed_enabled" type="xsd:boolean"
				use="optional" />
			<xsd:attribute name="ssl_feed_href" type="xsd:anyURI"
				use="optional" />
			<xsd:attribute name="ssl_feed_enabled" type="xsd:boolean"
				use="optional" />

			<xsd:attribute name="sso_ltpa_token_enabled"
				type="xsd:boolean" use="optional"/>
			<xsd:attribute name="jaas_alias_auth_enabled"
				type="xsd:boolean" use="optional"/>

			<xsd:attribute name="waltz_profiles_integration_enabled"
				type="xsd:boolean" use="optional" />
			<xsd:attribute name="waltz_profiles_integration_href"
				type="xsd:anyURI" use="optional" />
			<xsd:attribute name="waltz_profiles_integration_auth"
				type="xsd:string" use="optional" />

			<xsd:attribute name="profiles_directory_service_extension_enabled"
				type="xsd:boolean" use="optional" />
			<xsd:attribute name="profiles_directory_service_extension_href"
				type="xsd:anyURI" use="optional" />
			<xsd:attribute name="profiles_directory_service_extension_auth"
				type="xsd:string" use="optional" />
			<xsd:attribute name="profiles_directory_service_extension_auth_alias"
				type="xsd:string" use="optional" />

			<xsd:attribute name="waltz_communities_integration_enabled"
				type="xsd:boolean" use="optional" />
			<xsd:attribute name="waltz_communities_integration_href"
				type="xsd:anyURI" use="optional" />
			<xsd:attribute name="waltz_communities_integration_auth"
				type="xsd:string" use="optional" />

			<xsd:attribute name="communities_directory_service_extension_enabled"
				type="xsd:boolean" use="optional" />
			<xsd:attribute name="communities_directory_service_extension_href"
				type="xsd:anyURI" use="optional" />
			<xsd:attribute name="communities_directory_service_extension_auth"
				type="xsd:string" use="optional" />
			<xsd:attribute name="communities_directory_service_extension_auth_alias"
				type="xsd:string" use="optional" />

			<xsd:attribute name="waltz_ldap_group_membership_enabled"
				type="xsd:boolean" use="optional" />

			<xsd:attribute name="ldap_group_membership_directory_service_enabled"
				type="xsd:boolean" use="optional" />

			<xsd:attribute name="custom_user_id_attribute"
				type="xsd:string" use="optional" />
			<xsd:attribute name="custom_group_id_attribute"
				type="xsd:string" use="optional" />
			<xsd:attribute name="cache_index_capacity"
				type="xsd:integer" use="optional"/>				

			<xsd:attribute name="provider_use_feed_enabled"
				type="xsd:boolean" use="optional" />
				
			<xsd:attribute name="bootstrapHost"
				type="xsd:string" use="optional" />			
			<xsd:attribute name="bootstrapPort"
				type="xsd:string" use="optional" />
			<xsd:attribute name="clusterName"
				type="xsd:string" use="optional" />
				
			<xsd:attribute name="deployment_id"
				type="xsd:NCName" use="optional" />

			<!--  personTag attributes -->
			<xsd:attribute name="person_card_service_url_pattern"
				type="xsd:string" use="optional" />
			<xsd:attribute name="person_card_service_name_js_eval"
				type="xsd:string" use="optional" />
		</xsd:complexType>
	</xsd:element>
	<xsd:simpleType name="serviceNames">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="activities" />
			<xsd:enumeration value="blogs" />
			<xsd:enumeration value="communities" />
			<xsd:enumeration value="directory" />
			<xsd:enumeration value="dogear" />
			<xsd:enumeration value="personTag" />
			<xsd:enumeration value="presenceAwareness" />
			<xsd:enumeration value="profiles" />
			<xsd:enumeration value="sametimeLinks" />
			<xsd:enumeration value="homepage" />
			<xsd:enumeration value="quickr" />
			<xsd:enumeration value="search" />
			<xsd:enumeration value="wikis" />
			<xsd:enumeration value="files" />
			<xsd:enumeration value="global" />
			<xsd:enumeration value="news" />
			<xsd:enumeration value="mobile" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="anonymousLoginType">
			<xsd:attribute name="enabled" type="xsd:boolean" use="required" />
	</xsd:complexType>
	
	<xsd:complexType name ="hrefType">
		<xsd:sequence>
			<xsd:element name="hrefPathPrefix" type="xsd:string" minOccurs="0" maxOccurs="1" form="qualified"/>
			<xsd:element name="static" type="staticHrefStrategy" minOccurs="0" maxOccurs="1" form="qualified"/>
			<xsd:element name="dynamic" type="dynamicHrefStrategy" minOccurs="0" maxOccurs="1" form="qualified"/>
			<xsd:element name="interService" type="interServiceHrefStrategy" minOccurs="0" maxOccurs="1" form="qualified"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="staticHrefStrategy">
		<xsd:attribute name="href" type="xsd:anyURI" use="required" />
		<xsd:attribute name="ssl_href" type="xsd:anyURI" use="required" />
	</xsd:complexType>
	
	<xsd:complexType name="dynamicHrefStrategy">
		<xsd:attribute name="strategy" type="xsd:string" use="required" />
		<xsd:attribute name="ordinal" type="xsd:integer" use="optional" />
	</xsd:complexType>
  
	<xsd:complexType name="interServiceHrefStrategy">
		<xsd:attribute name="href" type="xsd:anyURI" use="required" />
	</xsd:complexType>

</xsd:schema>
